In [4]:
#using built-in functions
number_range = range(10)
for i in number_range:
    print (i)

0
1
2
3
4
5
6
7
8
9

In [5]:
#list
sam = [20,30,40,35]
print(sam)
sam_max_score = max(sam)
print("sam max score is " + str(sam_max_score))
sam_min_score = min(sam)
print("sam min score is " + str(sam_min_score))

[20, 30, 40, 35]
sam max score is 40
sam min score is 20

In [12]:
#common built-in string functions
text_a = "hello world"
text_a_lower = text_a.lower()
text_a_upper = text_a.upper()
print(text_a_lower)
print(text_a_upper)

hello world
HELLO WORLD

In [7]:
x = 36/4*(3+2)*4+2 
print(x)

182.0

In [13]:
#using built-in functions
number_range = range(2,22,2)
for i in number_range:
    print (i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# This program calculates the age of a person
birth_year = int(input("Please enter your birth year e.g 1990: "))
current_year = int(input("\nEnter the current year e.g 2023: "))
age = current_year - birth_year
print("\nYour age is: "+str(age))

In [17]:
a=5
b=16
a + b

21

In [19]:
number = float(input("Please enter a number "))
cube = number **3
print("\n the cube is " + str(cube))

Please enter a number 3

 the cube is 27.0